<html>
  <head>
    <title>Ändra lösen</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <div class="container">
      <h1>Byt lösen</h1>
      <form action="" method="post">
        <input type="text" placeholder="Gamla lösenord" name="oldPassword" value="{{request.form.oldPassword }}">
        <!--<input type="password" placeholder="Nya lösenord" name="newPassword" value="{{request.form.newPassword }}">-->
        <input type="submit" value="Byt lösenord">
      </form>
    </div>
  </body>
</html>