<html>
  <head>
    <title>Flask Intro - login page</title>
  </head>
  <body>
    <div class="container">
      <h1>Please login</h1>
      <br>
        
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </form>
        
        <a href="/">Tillbaka</a>
        
    </div>
  </body>
</html>