
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Getaway</title>

      
      <link rel="stylesheet" href="../static/css/dashboard.css">
      
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    
    <script src="../static/js/jquery-1.11.2.js"></script>

	
	
	    
        <script>
		$(function(){
			    $.ajax({
        			url: '/getAllWishes',
				type: 'GET',
			        success:function(response) {
					console.log(response);
					var data = JSON.parse(response);
					var itemsPerRow = 0;
					var div = $('<div>').attr('class','row');
					for(var i=0;i<data.length;i++){
						
					    
						if(itemsPerRow<i){
							console.log(i);
							if(i==data.length-1){
								div.append(CreateThumb(data[i].Id,data[i].Title,data[i].Country,data[i].Description,data[i].FilePath,data[i].Tag));
								$('.well').append(div);
							}
							else{
							div.append(CreateThumb(data[i].Id,data[i].Title,data[i].Country,data[i].Description,data[i].FilePath,data[i].Tag));
							itemsPerRow++;
							}
						}
						else{
							$('.well').append(div);
							div = $('<div>').attr('class','row');
							div.append(CreateThumb(data[i].Id,data[i].Title,data[i].Country,data[i].Description,data[i].FilePath,data[i].Tag));
							if(i==data.length-1){
								$('.well').append(div);
							}
							itemsPerRow = 0;
						}
					}
					
			        },
			        error:function(error){
			        	console.log(error);
			        }
    			});

		})
		function CreateThumb(id,title,country,desc,filepath,tag){
			var mainDiv = $('<div>').attr('class','col-sm-3 col-md-3');
			var thumbNail = $('<div>').attr('class','thumbnail');
			var img = $('<img>').attr({'src':filepath,'data-holder-rendered':true,'class':'imgInList'});
           
			var caption = $('<div>').attr('class','caption');
			var title = $('<h3>').text(title);
            var country = $('<p>').text(country);
			var desc = $('<p>').text(desc);
            var tag = $('<p>').text(tag);

			var p = $('<p>');
			var btn = $('<button>').attr({'id':'btn_'+id,'type':'button','class':'btn btn-danger btn-sm'});

			
			
			caption.append(title);
            caption.append(country);
			caption.append(desc);
			caption.append(p);
            
            
			thumbNail.append(img);
			thumbNail.append(caption);
			mainDiv.append(thumbNail);
            caption.append(tag);
			return mainDiv;

			
		}
	</script>


   
  </head>

  
    
<body>
    <header>
        <h3 id="logotyp">Getaway</h3>
        
        <form action="">
            <input id="signOut" type="submit" value="Sign out">
      </form>
        
    </header>
    <nav>
        <ul id="nav">
            <li>
                <a href="/dashboard" class="a-link up"><div class="nav"><img src="../static/pictures/location.png" alt="location" id="location"><p>All locations</p></div></a>
            </li>
            <li>
                <a href="/add" class="a-link"><div class="nav"><img src="../static/pictures/add_location.png" alt="location" id="addLocation"><p>Add location</p></div></a>
            </li>
            <li>
                <a href="/admin" class="a-link"><div class="nav"><img src="../static/pictures/admin.png" alt="location" id="admin"><p>Admin settings</p></div></a>
            </li>
            <li>
                <a href="/admin" class="a-link"><div class="nav"><img src="../static/pictures/analytics.png" alt="location" id="analytics"><p>Google Analytics</p></div></a>
            </li>
        </ul>
    </nav>
    
<content>
    
    <div class="well" id="well">

</div>
    
    </content>
    
</body>
</html>