<!DOCTYPE html>

<html lang="en">
    
    <head>
        
        <title>Unauthorized Access</title>
        <link href="../static/css/unauthorized.css" rel="stylesheet">
    
    </head>
    
    <body>
        <div id="container">
            
            <div id="box">
                
                <h1>404</h1>
                <p>Sorry but the page you are looking for has not been found. Return to admin and log in.</p> 
                
                <form action="" method="post">
                    <input type="submit" value="Return to Login">
                </form>
            
            </div>
        </div>
    </body>
</html>